html,
body{
    height: 100%;
}
body{
    background-color: aquamarine;
    display: flex;
    font-family: "Roboto Light",sans-serif;
}
.game-container,.game-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}
.radio-level{
    display: flex;
    margin: 35px 0 0 0;
    font-size: 20px;
    color: darkslategray;
}
.level{
    position: absolute;
    top: 13%;
    left: -70%;
}
.level p{
    font-size: 25px;
    color: darkslategray;
}
.game-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: white;
    position: relative;
}
.hat{
    position: absolute;
    left: 95%;
    top: -28%;
    z-index: 5;
    transform: rotate(40deg);
}
.game-title{
    text-transform: uppercase;
    color: darkslategray;
}
.icon {
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    position: absolute;
}
.mandarin,.grinch{
    width: 24px;
    height: 24px;
}
.grinch{
    display: none;
}
.buttons-container{
    display: flex;
}
.button{
    justify-content: space-between;
    border:  1px solid #553e38;
    padding: 5px 10px;
    font-size: 14px;
    background-color: orange;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 15px 0 10px;
}